/* Estilos generales */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(circle, rgb(10 60 202) 0%, #042e52 100%);
}

/* Estilos del contenedor principal */
.container-app {
  width: 80%;
  max-width: 1200px; /* Establecer un ancho máximo para el contenedor */
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin-top: 75px;
}

.container-app > h1 {
  color: #333;
  font-size: 2rem;
}

/* Estilos del formulario */
.formTimes {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.formTimes h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.formTimes form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formTimes form div {
  width: 48%;
  margin-bottom: 20px;
  margin-right: 5px;
}

.formTimes form div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.formTimes form div input {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.formTimes form div span {
  color: red;
  font-size: 0.8em;
}

.formTimes form div:last-child {
  width: 100%;
  text-align: center;
}

.formTimes form div:last-child input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.modal p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.modal button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
/* Estilos de la tabla */
.table-container {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  text-align: center;
  overflow-x: auto;
}

.table-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1rem;
  
}

thead tr th {
  background-color: #003B79;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td {
  color: #333;
}

.input-text {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
}

.table-container button {
  background-color: #005CB9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 5px;
  font-size: 1rem;
  font-weight: bold;
}

.table-container button:hover {
  background-color: #003B79;
}

.table-container button:active {
  background-color: #002855;
  transform: translateY(2px);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 0.8rem;
  }
}