*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html{
  font-size: 62.5%;
}
.App {
  background: radial-gradient(circle, rgb(10 60 202) 0%, #042e52 100%);;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
/* Nav css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(6, 6, 90);
}
nav h1 {
  font-size: 1.6rem;
  color: white;
  font: bold;
  margin: 1rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display :block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
nav .active {
  background-color: #042e52;
}

nav .nav__menu {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
nav .nav__menu span{
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}
/* Estilos del formulario*/ 
.formTimes {
  max-width: auto;
  padding: 2.5rem;
  margin: 1.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.8rem;
}

.formTimes h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  font: bold;
}

.formTimes form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem ;
}

.formTimes form div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  margin-top: 0.4rem;
}

.formTimes form div input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top:0.6rem;
}

.formTimes form div span {
  color: red;
  font-size: 0.8em;
}

.formTimes form div:last-child {
  width: 100%;
  text-align: center;
}

.formTimes form div:last-child input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}
/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  margin: 1rem;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.8rem;
  color: #333;
}

.modal p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.modal button {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
/*Table css*/
table{
  background-color: white;

}
.table-container td{
  font-weight: bold;
}
.table-container input , .table-container select{
  width: 100%;
}
.table-container th{
  background-color: rgb(6, 6, 90);
  color: white;
  font-weight: bold;
}
.table-container button {
  margin: 1rem;
  
  padding: 0.8rem 1.6rem;
  background-color: white;
  color: rgb(6, 6, 90);
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
}
.table-container h2 {
  margin-top: 2rem;
  text-align: center;
  color: white;
}
.row__distancia{
  background-color: #FFFF80;
}
/* tabla estilos*/
.table-indv table {
  width: 90%;
  border: 0.1rem solid;
  border-collapse: collapse;
  text-align: center;
}
.tabla-libre td, .tabla-espalda td,.tabla-pecho td,.tabla-mariposa td , .tabla-combinado td{
  border: 0.1rem solid;
  border-collapse: collapse;
}
.tabla-libre ,.tabla-espalda ,.tabla-pecho ,.tabla-mariposa ,.tabla-combinado {
  margin: 2rem auto;

}
.pintar .vacio {
  background-color: #ccc;
}
.r1 {
  background-image: linear-gradient(95deg, #e3ff3d 0, #cbff3d 12.5%, #adfb3a 25%, #88f135 37.5%, #56e42e 50%, #00d62b 62.5%, #00cc30 75%, #00c43b 87.5%, #00bf49 100%);
  font-weight: bold;
}
.r2{
  background-image: linear-gradient(95deg, #f8a13b 0, #f79135 16.67%, #f07a2b 33.33%, #e35d1e 50%, #d53c15 66.67%, #cc1015 83.33%, #c7001c 100%);
  font-weight: bold;
}
.vo2{
  background-image: linear-gradient(95deg, #ff56ee 0, #ff48f1 16.67%, #ff35f0 33.33%, #e716ec 50%, #c200e8 66.67%, #9d00e7 83.33%, #7400e8 100%);
  font-weight: bold;
}
.rl{
  background-image: linear-gradient(270deg, #a1ffff 0, #72eaff 25%, #15cbec 50%, #00acd8 75%, #0094c9 100%);
  font-weight: bold;
}
.table-indv .vv{
  background-color: black;
  color: white;
  font-weight: bold;
}
.tabla-libre .blanco, .tabla-espalda .blanco, .tabla-mariposa .blanco, .tabla-pecho .blanco {
  background-color: white;
}

.pintar td:nth-child(1) { background-color: #FFD700; font-weight: bold; } 
.pintar td:nth-child(2) { background-color: #ffff; } 
tr td:nth-child(3) { background-color: #e3ff3d; font-weight: bold; } 
tr td:nth-child(4) { background-color: #56e42e; font-weight: bold; } 
tr td:nth-child(5) { background-color: #00bf49; font-weight: bold; } 
tr td:nth-child(6) { background-color: #f8a13b; font-weight: bold; } 
tr td:nth-child(7) { background-color: #d53c15; font-weight: bold; } 
tr td:nth-child(8) { background-color: #ff56ee;font-weight: bold; } 
tr td:nth-child(9) { background-color: #c200e8; font-weight: bold; } 
tr td:nth-child(10) { background-color: #15cbec;font-weight: bold; } 
tr td:nth-child(11) { background-color: #a1ffff;font-weight: bold; } 

/* celular*/
@media (max-width: 480px) {
  nav .nav__menu{
    display: flex;
  }
  nav {
    flex-direction: column;
    align-items: start;
  }
  nav ul {
    display:none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul.open{
    display: flex;
  }
  /*Table  css*/
  .table-container table {
    width: 80vw;
    padding: 0.4rem;
    margin: 1.25rem auto;
  }
  .table-container table td {
    font-size: 0.7rem;
    padding: 0.1rem;
    text-align: center;
  }
  .table-container table,.table-container th, .table-container td {
    border: 0.01rem solid;
  }
/* Tabla-inv */
.table-indv{
  overflow-y: scroll;
}
.table-indv table {
  width: 100%;
  border: 0.1rem solid;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.5rem; 
  
}

.table-indv input {
  width: 2rem; /* Reducir el ancho del input */
  font-size: 0.4rem; /* Reducir el tamaño de la fuente */
}

.table-indv td {
  width: 0.6rem; 
  padding: 0.2rem; 
}


.table-indv th,
.table-indv td {
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

}