* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  .table2-container {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
  }
  
  .table2 {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid black;
  }
  .table2 .table2-blank{
    border: none;
    background-color: grey;
  }
  /* Colores de las celdas */
  .table2-style { background-color: #f79646; }
  .table2-meta { background-color: black; color: white; }
  .table2-red { background-color: #ff0000; color:white;}
  .table2-cyan { background-color: #a7f9f5; }
  .table2-goal { background-color: #ffff00; }
  .table2-purple { background-color: #b8cce4; }
  .table2-green { background-color: #d6e3bc; }
  .table2-pink { background-color: #f2dbdb; }
  .table2-orange { background-color: #f2dbdb; }
  
  /* Estilos adicionales para mejorar la apariencia */
  .table2 th, .table2 td {
    padding: 8px;
    border: 1px solid black;
  }
  
  .table2 input {
    width: 100%;
    padding: 5px;
  }

   /* Estilos para pantallas pequeñas (celulares) */
   @media (max-width: 480px) {
  
    .table2 {
      width: 100vw;
      font-size: 0.55rem;
      margin-top: 2rem;
      font-weight: bold;
    }
    .table2 .table2-goal{
        width: 10px;
    }
    .table2 input {
      width: 100%;
      height: 2px;
      font-size: 0.4rem;
    }
  
    .table2 td {
      padding: 0.2rem;
    }
  
    .table2 th,
    .table2 td {
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 20px;
  }
  .table2-style { font-size: 1rem;}
  .table2-meta { font-size: 1rem; }
  .table2-red { font-size: 1rem;}
}
/* Estilos para tabletas */
@media (min-width: 481px) and (max-width: 768px) {
    .table2 {
      width: 90vw;
      margin-top: 2rem;
      font-weight: bold;
    }
    .table2 td, .table2 th {
        height: 1px;
        font-size: 0.75rem;

    }
    .table2 .table2-goal{
        width: 10px;
    }
    .table2 input {
      width: 100%;
      height: 2px;
    }

  }
  
  /* Estilos para pantallas de escritorio */
  @media (min-width: 769px) {
    .table2 {
      width: 90vh;
      margin-top: 2rem;
      font-weight: bold;
    }
    .table2 td, .table2 th {
        height: 4px;
        font-size: 1.2rem;

    }

    .table2 input {
      width: 55px;
      font-size: 1rem;
    }
    .table2 td {
        height: 2px;
        width: 65px;
    }
  }